<!DOCTYPE html>
<html lang="de">
<!--Im HEAD werden allgemeine Einstellungen zur website festgelegt-->
<head>
    <link rel="stylesheet" type=text/css href="styles.css"
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Der title erscheint im Browser-TAB-->
   
   <html>
   
    <title>N27 About</title>



</head>
<!--Im Body steht der Inhalt der Webseite, also alles, was im Browser
angezeigt wird.-->
<body>
    <!--Überschrift der Größe 1-->
    <h1>Herzlich Wilkommen bei N27</h1>
    


    <div>
        
        
    </div>
    <p>

        <button type="button"> Kontostand anzeigen </button>

        </p>
        <p>
            <button type="button">Einzahlen</button>
            <p>
                <button type="button">Auszahlen</button>
                <p>

                </p>
            <button type"button">Überweisung</button>
            </p>

                <img src="logo.png" alt="Bank Logo" width="64" height="64">

        </p>


                <a href="https://berufskolleg-borken.de" target="_blank">BKB</a>

            <hr>

            <p>

                <table border="1">
                    <tr>
                    <td>Zeile1 Spalte1</td>
                        <td>Zeile1 Spalte2</td>
                    </tr>
                    <tr>
                        <td>Zeile2 Spalte1</td>
                            <td>Zeile2 Spalte2</td>
                        </tr>
    



                </table>
            
            </p>

            <ul>
                <li>Listenelement</li>
                <li>Listenelement</li>
            </ul>

            <ol>
                <Li>Listenelement1</Li>
                <Li>Listenelement2</Li>
            </ol>


            <footer>Impressum & Datenschutz</footer>
            

            <body style="background-image:url(R.png)">
            </body>

        



</html>