<!--Lukas Niemeyer-->

<!DOCTYPE html>

<html lang="de">

<head>

    <link rel="stylesheet" type="text/css" href="styless.css"


</head>
                
<body>
    
    <h1>Klausur Nr.2</h1>

    <h2>Vorbereitung</h2>

    <text>Hier könnte ihr Text stehen</text>

    <br>

        <table border="0"
            <tr>
                <td></td>
                <td></td>


            </tr>

    <br>
    <br>
            <ol>
                <li>Punkt1</li>
                <li>Punkt2</li>


            </ol>

            
            <button type="button">Klick mich</button>

<br>
<br>


<div>
            <a href="https://berufskolleg-borken.de" target="_blank">BKB</a>

            </div>


<br>

<hr>
    


</body>





</html>