/*Lukas Niemeyer*/



body{
    font-family: 'Courier New', Courier;
    size: x-small;
color: greenyellow;
background-color: khaki;
}


div{
color: green;
font-family: Arial, Helvetica, sans-serif;


}

button{ color: hotpink;
    border-radius: 10%;




}

